html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header,
footer {
    text-align: center;
}

header,
body,
div {
    text-align: center;
    max-height: 800px;
    max-width: 1200px;
    margin: auto;
}

header,
p,
label,
button,
input {
    font-family: 'Open Sans', sans-serif;
}

header,
p,
label,
button {
    filter: invert();
}

body {
    /* add background image */
    background-image: url(images/background11.jpg);
    background-repeat: no-repeat;
    padding-bottom: 1rem;
}

header,
footer,
label {}

button img {
    width: 3rem;
    height: 3rem;
}

button {
    background-color: transparent;
    outline-color: none;
    border: none;
}

#compute {
    font-size: 18px;
    font-weight: 500;
}

#showMe,
strong,
.p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    max-width: 700px;
    text-align: center;
}

footer {
    font-size: 15px;
}

#help {
    margin-bottom: 2rem;
    font-size: 13px;
}

#help p {
    color: white;
    font-weight: 500;
}

#home {
    font-size: 14px;
    font-weight: 500;
}

strong {
    filter: invert();
}

.startText {
    font-weight: 550;
}

#container {
    font-weight: 500;
}
